.socialContainer {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.socialContainer a.social {
  margin-right: 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.socialContainer a.social:hover {
  transform: translateY(-2px);
}

.socialContainer a.spotify {
  color: #1DB954;
}

.socialContainer a.linkedin {
  color: #0077b5;
}
